body{
    font-family: system-ui;
}

/* topbar */
.topbar{
    position: fixed;    
    top: 0;
    width: 100%;

    background-color: #643754;
}
/* topbar-navigasi */
.navigasi{
    position: absolute;
    
    top: 3px;
    right: 0;
}
.navigasi ul li{
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: calc(1rem - 4px);
    padding-right: calc(1rem - 4px);

    display: inline-block;
    margin: .5rem 1rem 1rem .5em;
}
.navigasi ul li:hover{
    transform: scale(1.2);
    background-color: rgb(255, 255, 255 ,.7)
}

ul li a{
    padding: .5rem .5rem .5rem .5rem;

    font-size: calc(12px + 4px);
    
    color: whitesmoke;

    text-decoration: none;
}
ul li a:hover{
    color: purple;
}

/** topbar-font */
.topbar h1{
    margin-left: 1rem;
    margin-bottom: .3rem;
    padding-top: .3rem;
    
    width: 50%;

    font-size: 1.5rem;
    color: whitesmoke;
}
.topbar .subjudul{
    width: 50%;
}
.topbar p{
    margin-left: 1rem;
    margin-bottom: .5rem;
    
    font-size: .8rem;
    color: whitesmoke;
}

/** topbar-hero*/
.hero{
    max-width: 100%;
    background-color: #074f57;

    background-image: url(../images/makanan-sehat.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    background-blend-mode: lighten;

    margin-top: 3.3rem;
}
.tulisantopbar{
    margin-left: 1rem;
    padding-top: 250px;
    padding-bottom: 250px;
}
.tulisantopbar h1{
    margin-bottom: .3rem;

    font-size: 2rem;
    color: black;
    font-weight: bold;
}
.tulisantopbar p{
    font-size: 1.3rem;
    color: black;
    font-style: italic;
}

/** container */
.container{
    padding: 1rem 1rem 1rem 1rem; /** padding bawahnya=0 */
    margin: auto;

    max-width: 85%;

    text-align: justify;
}


/** untuk mengatur ukuran font dan margin bottom yang ada di dalam kelas main di dalam container */
.main{
    width: 70%;
    float: left;
}
.container .main h1{
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: calc(2.5vmax + .6rem); 
}
.container .main p{
    margin-bottom: .5rem;
    font-size: 1rem;

    text-indent: 1.5rem;
}
.container .main h2{
    font-size: calc(2.5vmax + .6rem);
    margin-bottom: 1rem;
}

/** kelas panduan-makan kontainer bawah */

.panduan-makan h1{
    margin-top: 2rem;
    
    font-size: 2rem;
}
/** kelas slider - panduan makan */
.slider{
    width: 65%;
    height: 25vmax;

    background-color: teal;

    margin: 30px auto;
    
    animation: slide 20s infinite;
    
    background-repeat: no-repeat;
}

@keyframes slide{
    0%{
        background-image: url(../image/isi-piringku.jpg);
    }
    25%{
        background-image: url(../image/slide1.jpg);
    }
    50%{
        background-image: url(../image/gado-gado.jpg);
    }
    75%{
        background-image: url(../image/slide2.jpg);
    }
    100%{
        background-image: url(../image/slide3.jpeg);
    }
}

/** gambar */
.gambar{
    margin-bottom: 1rem;

    max-width: 100vmax;
    height: 50vmin;
    background-color: white;
    
    background-repeat: no-repeat;

    background-position: center;
}

/* kumpulan gambar untuk kelas main */
.karbo{background-image: url(../image/karbohidrate.jpg);}
.protein{background-image: url(../image/proteinb.jpg);}
.sayur_buah{background-image: url(../image/sayur-dan-buah.jpg);}
.lemak{background-image: url(../image/olive-oil.jpg);}

/** sidebar */
.sidebar{
    width: 28%;
    max-height: 30vmax;
    float: right;

    overflow-y: scroll;
}
.sidebar h1{
    padding: .5rem;

    font-size: 2rem;
}

.sidebar ul li{
    margin-top: .3rem;
    margin-bottom: .3rem;
}
.sidenav a{
    font-weight: bold;
    color: #fcdf2d;
}
.sidenav a:hover{
    color: red;
}
.sidenav p{
    text-align: center;
}
.sidenav img{
    width: 90%;
    height: 20vh;
}

/** footer */
.footer{
    background-color: #142c2a;
}
.footer p{
    font-size: calc(1em - 3px);
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    text-align: center;
    color: #fffafa;
    margin-bottom: 0;
}


/** clear fix */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}